In [1]:
! python3 --version

Python 3.6.5

# Computing in Python

In [2]:
5 + 2

7

In [3]:
print( 5 + 2)
print(5 * 2)
print(6 + 5 * 2)

7
10
16

In [4]:
# Variables in Python

In [5]:
#Example 1
x = 4
name = "Rohit"
print(x)
print(name)
x=5
name="Python"
print(x)
print(name)

4
Rohit
5
Python

In [6]:
#Example 2
x=3
y=4
z="Rohit"

print(x)
print(y)
print(x+y)
print(z)
#Rohit

3
4
7
Rohit

In [7]:
#Example 3

x=4
x="Python"
print(x)#Python

Python

In [8]:
#Example 4 – Handling Strings/text

a="Python"
b="language"
print(a+b)#Pythonlanguage

Pythonlanguage

In [9]:
#Example 5 – handling variables and text
x = 5
y = "John"
print(x + y)#TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Example Find the product of two numbers using variables
Hint- Declare two variables num1 and num2. Assign them values 8 and 5. Print the product on the screen

## Example Print the welcome message using user's name
Hint- Declare a variable name which contains the user name. Print the welcome message on the screen-
Hello <username>!! Welcome of Python Lab

In [10]:
name="Charu"
print("Welcome to python lab!! ",name)

Welcome to python lab!!  Charu

#  Python Numbers

In [22]:
# Example
x=1# int
y =2.8#  float
z =1j#  complex

In [25]:
print(x)
print(y)
print(z)

3
3.6
(3+5j)

In [24]:
x=3
y=3.6
z=3+5j

In [ ]:
print(x)
print(y)
print(z)

In [26]:
print(type(z))

<class 'complex'>

# To verify the type of any object in Python, use the type() function:

In [27]:
# Example
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [29]:
# Example
# Integers:
x =1
y =35656222554887711
z =-3255522
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Floats:
# Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [30]:
# Example
x =1.10
y =1.0
z =-35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [31]:
x=2.4
y=3.5
print(type(x))
print(type(y))

<class 'float'>
<class 'float'>

In [32]:
# Float can also be scientific numbers with an "e" to indicate the power of 10.

In [34]:
# Example
x =35e3
y =12E4
z =-87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Complex
# Complex numbers are written with a "j" as the imaginary part:

In [35]:
# Example

x =3+5j
y =5j
z =-5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [16]:
x = 1
y = 2.0 
print(x+y)

3.0

In [38]:
x =int(1)#  x will be 1
y =int(2.8)#  y will be 2

In [39]:
x =float(1)#  x will be 1.0
y =float(2.8)#  y will be 2.8

In [40]:
x=float(2.5)
type(x)

float

In [41]:
x =str("S1")
y =str(2)

In [42]:
x=str("s1")
y=5
print(type(y))

<class 'int'>

# Strings

In [43]:
# Example Get the character at position 1 (remember that the first character has the position 0):

In [45]:
a ="Hello, World!"
print(a[1])

e

In [48]:
a ="Hello, World!"
print(a[0])

H

In [47]:
a="hello world!!"
print(a[6])

w

In [49]:
print(a[2:5])

llo

In [50]:
# Example Substring. Get the characters from position 2 to position 5 (not included):

In [52]:
b ="Hello, World!"
print(b[2:5])

llo

In [53]:
a.replace("h","K")

'Hello, World!'

In [10]:
# Example The strip() method removes any whitespace from the beginning or the end:
a='           Hello, World!                  '
print(a.strip())
#  returns "Hello, World!"

Hello, World!

In [11]:
# Example The len() method returns the length of a string:
a ="Hello, World!"
print(len(a))

13

In [12]:
# Example The lower() method returns the string in lower case:
a ="Hello, World!"
print(a.lower())

hello, world!

In [13]:
# Example The upper() method returns the string in upper case:
a ="Hello, World!"
print(a.upper())

HELLO, WORLD!

In [14]:
# Example The replace() method replaces a string with another string:
a ="Hello, World!"
print(a.replace("H","J"))

Jello, World!

In [15]:
# Example The split() method splits the string into substrings if it finds instances of the separator:
a ="Hello, World!"
print(a.split(","))#  returns ['Hello', ' World!']

['Hello', ' World!']

## Example- Declare a string containing names of 5 students, separated by comma ','. 
1. Splits the students names into separate sub-strings and 
2. Convert the names into upper-case

In [65]:
str1="rohan,shyam,ria,tapas,harmeet"
str2=str1.upper()
str2

'ROHAN,SHYAM,RIA,TAPAS,HARMEET'

In [66]:
str2.split(",")

['ROHAN', 'SHYAM', 'RIA', 'TAPAS', 'HARMEET']

In [67]:
str1="rohan,shyam,ria,tapas,harmeet"
print(str1.upper().split(","))

['ROHAN', 'SHYAM', 'RIA', 'TAPAS', 'HARMEET']

# Command-line String Input

In [68]:
'''Python allows for command line input.
That means we are able to ask the user for input.
The following example asks for the user's name, then, by using the input() method, 
the program prints the name to the screen:'''

"Python allows for command line input.\nThat means we are able to ask the user for input.\nThe following example asks for the user's name, then, by using the\xa0input()\xa0method, \nthe program prints the name to the screen:"

In [72]:
# Example demo_string_input.py
print("Enter your name:")
x =input()
print("Hello,",x)

Enter your name:
weer
Hello, weer

In [73]:
print("Now, It's your turn:")
x=input("your name::")

Now, It's your turn:
your name::wewe

In [74]:
print(x)

wewe